.herotitle{
    font-family: 'Calistoga', serif;
    font-size: 38px;
}

.herosubtitle{
    font-family: 'Calistoga', serif;
    margin-bottom: 2%;
}

.herotext{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(40, 40, 40, 0.6);
    margin-bottom: 5%;
}

.gradientheading {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg,  #010a2e 0%,  #a5e0f8 65% ,#ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1%;
  }

  .cardgradientheadingright {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg,  #010a2e 0%,  #a5e0f8 65% ,#d3dcf9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1%;
  }

  .cardgradientheadingleft {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg,   #d3dcf9 0%,  #a5e0f8 35% ,#010a2e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1%;
  }

  .cardherotitle{
    font-family: 'Calistoga', serif;
    font-size: 24px;
}

.githubbutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 12px;
    border-radius: 14px;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
    gap: 6px;
    transition: background 0.15s;
    outline: none;
    width: 130px;
    margin-bottom: 10px;
  }
  .githubbutton:hover,
  .githubbutton:focus {
    background: #363636;
    color: #fff;
    text-decoration: none;
  }


.stickyStackCard {
  position: sticky;
  top: 60px; /* have to adjust the top for each card to get the stacked effect */
  z-index: 1;
  box-shadow: 0 4px 24px rgba(0,0,0,0.10);
  /* margin-bottom: -30px;  This doesnt seem to do anything but could be useful in future stacked cards to cause an "instant" overlap */
  transition: box-shadow 0.2s;
}
.stickyStackCard:hover,
.stickyStackCard:focus-within {
  box-shadow: 0 8px 40px rgba(0,0,0,.18);
}

.cardpadding{
  padding-left: 10px;
  padding-right: 10px;
}  

.olamargin {
  margin-left: 15%;
 }


@media (min-width: 700px) {
  .herotitle{
    font-family: 'Calistoga', serif;
    font-size: 48px;
}

  .sidespacer {
    max-width: 1040px;
     top: 50px;
  }
  .cardpadding{
    padding-left: none;
    padding-right: none;
  }

  .cardherotitle{
    font-family: 'Calistoga', serif;
    font-size: 32px;
}

.githubbutton{
  margin-top: none;
  margin-bottom: none;
}

.card2top{
  top: 90px;
 }
 
 .card3top{
   top: 130px;
  }
 
  .card4top{
   top: 170px;
  }
 
  .card5top{
   top: 210px;
  }

  .olamargin {
    margin-left: 30%;
   }

  .lrgscreenimgsize{
    height: 500px;
  }

  .bigscreenhr {
    display: block;
  }


}


@media (max-width: 700px) {
  .nopaddingtop{
    padding-top: 0;
  }
  .nomargintop{
    margin-top: 0;
  }

  .cardgradientheadingright {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg,  #010a2e 0%,  #a5e0f8 65% ,#d3dcf9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1%;
  }

  .cardgradientheadingleft {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg,   #d3dcf9 0%,  #a5e0f8 35% ,#010a2e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1%;
  }

  .githubbutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 12px;
    border-radius: 14px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
    gap: 6px;
    transition: background 0.15s;
    outline: none;
    margin-bottom: 10px;
  }

  .cardtext{
    font-size: 14px;
  }

  .smlscreenimgsize{
    height: 200px;
  }

  .smlscreenolasize{
    height: 350px;
  }
  
}

.bigscreenhr {
  display: none;
}
