.herotitle{
    font-family: 'Calistoga', serif;
    font-size: 48px;

}

.herosubtitle{
    font-family: 'Calistoga', serif;
    margin-bottom: 2%;
}

.herotext{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: rgba(40, 40, 40, 0.6);
    margin-bottom: 5%;
}

.gradientheading {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg,  #010a2e 0%,  #a5e0f8 65% ,#ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1%;
  }

  .cardgradientheading {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background: linear-gradient(90deg,  #010a2e 0%,  #a5e0f8 65% ,#d3dcf9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-top: 4%;
    margin-bottom: 5%;
  }

  .cardherotitle{
    font-family: 'Calistoga', serif;
    font-size: 32px;
}

.githubbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 12px 14px;
    border-radius: 14px;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
    gap: 6px;
    transition: background 0.15s;
    outline: none;
    margin-top: 6%;
    width: 150px;
    margin-left: 4%;
  }
  .githubbutton:hover,
  .githubbutton:focus {
    background: #363636;
    color: #fff;
    text-decoration: none;
  }