.box {
    background-color: lightblue;
    min-height: 50px;
    font-size: 2rem;
}

.herotitle{
    font-family: 'Calistoga', serif;
    margin-top: 2%;

}

.herosubtitle{
    font-family: 'Calistoga', serif;
    margin-bottom: 2%;
}

.herotext {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    max-width: 100%;          /* allow shrink on mobile */
    width: 100%;              /* fill parent by default */
    /* add line-height for better readability, optional: */
    line-height: 1.4;
}

.topspacer{
    margin-top: 80px;

}

@media (min-width: 700px) {
    .herotext {
        max-width: 600px;  /* cap on big screens only */
        margin-left: auto;
        margin-right: auto;
    }
    .topspacer{
        margin-top: 9%;
    }
}

